<div class="about"><h1 class="fade-in-text">About:</h1></div>

      <img class="cat fade-in-image"src='/img/mask.gif'>


      <p class="intro">Søren Aabye Kierkegaard (1813–1855) was an astonishingly prolific writer whose work—almost all of which was 
        written in the 1840s—is difficult to categorize, spanning philosophy, theology, religious and devotional writing, 
        literary criticism, psychology and social critique. Kierkegaard’s mode of philosophizing opposes system-building and 
        owes more in its approach to the ancients, particularly his hero Socrates, though his work also draws strongly and 
        creatively on the Bible and other Christian sources. The opposition to system-building means that Kierkegaard has often 
        been understood as an arch opponent of Hegel, but scholarship in recent decades has challenged and complicated this view, 
        suggesting both that some of Kierkegaard’s central ideas are creative developments of Hegel’s ideas, and that the main 
        target of his critique is certain Danish Hegelians influential in his day, rather than Hegel himself (see especially 
        Stewart 2003 and section 4 below). Also often dubbed the “father of existentialism”, this label obscures at least as 
        much as it reveals, especially to those who associate existentialism with atheistic figures such as Sartre. Kierkegaard’s 
        thought has certainly influenced thinkers in the phenomenological and existential traditions (including Heidegger, Sartre, 
        Jaspers, Marcel, and Lévinas), but also thinkers in very different philosophical traditions, such as Wittgenstein (who 
        famously described him as a “saint” and “by far the most profound thinker” of the nineteenth century). In addition to 
        influencing philosophers and theologians—inside and outside his own Lutheran tradition—Kierkegaard’s thought has also 
        influenced various novelists and poets (including Henrik Ibsen, Franz Kafka, Miguel de Unamuno, August Strindberg, W. H. 
        Auden, Walker Percy, John Updike, Richard Wright, R. S. Thomas, and Haven Kimmel); artists and filmmakers (including Edvard 
        Munch and Carl Theodor Dreyer); psychiatrists and psychotherapists (including Ludwig Binswanger, Carl Rogers, Rollo May, R. D. 
        Laing, and Irvin Yalom). (For articles on several of these influences in philosophy, theology and literature, see Carlisle 2013, 
        Welz 2013, Shakespeare 2013, Rudd 2013, Lippitt 2013b, Barrett 2013, Lisi 2013, and Pyper 2013.) One reason why Kierkegaard has 
        had an impact upon such a diversity of figures is his focus on the question of what it means to be an existing, finite human being, 
        a concern he associates with “inwardness”, and which contrasts with what he takes to be the misguided idea that one can 
        understand reality in a disengaged manner and from no particular point of view. He believed that his age had in various ways forgotten 
        this fundamental truth, an enormous failing manifested in both its philosophy and its theology.

</p>
     