<main role="main" class="main-content" id="main-content">
    <div class="titleCont">
        <h1 class="main-title fade-in" id="main-title">
            “The most painful state of being<br><span style="padding-left:100px">is remembering the future, particularly</span><br><span style="padding-right:110px">the one you'll never have.”</span><br><span style="padding-left:-20px">― Søren Kierkegaard</span>
        </h1>
    </div>

</main>