<div class="author">
    <h1 class="author_heading">Hi, I'm Jeff.</h1>
<p class="author_body">Web Developer</p>
</div>

<img src="/img/lovecraft.gif" width="781" height="528" alt="H.P. Lovecraft author sitting down" class="hero-image">

<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>


    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>