<div class="author">
    <div class="typewriter">
    <h1 class="author__heading">“Greetings...”</h1>
</div>
<p class="author__body">― H.P. Lovecraft</p>
</div>

<img src="/img/lovecraft.gif" width="581" height="428" alt="H.P. Lovecraft author sitting down" class="hero-image">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>


    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>